html {
  overflow-y: scroll; }

html, body {
  height: 100%;
  min-height: 100%; }

body {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #f8f8f8;
  background: url(../img/pattern4.png) repeat;
  text-rendering: optimizeLegibility; }

body, a {
  color: #E8E8E8;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  -webkit-font-smoothing: antialiased; }

/* Typography */
a:hover {
  color: #ff8000;
  text-decoration: underline; }

p {
  margin: 0 0 20px 0;
  font-size: 16px; }

pre {
  font-size: 0.9em;
  overflow: auto;
  background: #fff;
  border: 1px dashed #d2d2d2;
  border-radius: 0.25em;
  margin-bottom: 1.8em;
  padding: 1em; }

h1 {
  font-size: 2em;
  margin-bottom: 1em; }

h2 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.43;
  margin-bottom: 1.35em; }

h3 {
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.8em; }

ol, ul {
  margin: 0 1.4em 1.4em 1em; }

li {
  margin-bottom: 0.5em; }

blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic; }

hr {
  border: 0;
  border-top: 1px dashed #d2d2d2;
  height: 0;
  margin: 1.6em 0; }

/* Containers */
.container {
  width: 100%;
  padding: 50px 0;
  position: relative; }

.outer-wrap {
  overflow: hidden;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.dark-bg {
  background: url(../img/texture_bg.png) repeat #3c3837;
  position: relative; }

.fake-bg {
  height: 65px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/texture_bg.png) repeat scroll 0 0 #2e9891; }

.color-bg {
  position: relative; }

.logo {
  text-align: center;
  margin: 20px 0 0 0; }
  .logo a {
    text-align: center;
    color: #000;
    height: 154px;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    display: inline-block;
    position: relative; }
    .logo a img {
      border: 3px solid #2e9891;
      max-width: 200px; }

.content-wrap, .header-wrap, .footer-wrap {
  margin: 0 auto; }

.content-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-left: 2px solid #2e9891;
  padding: 20px 0 20px 15px; }
  .content-wrap .intro, .content-wrap .contact, .content-wrap .skills, .content-wrap .experience {
    width: 50%; }

.nav-wrap {
  border-left: 2px solid #3c3837;
  height: 65px; }

/* page header */
.header {
  width: 220px;
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }
  .header h1 {
    font-size: 2.6em;
    text-align: center;
    font-weight: 700;
    margin: 0; }
  .header a, .header a:hover {
    text-decoration: none;
    color: #171717; }
  .header .author {
    font-family: 'Merriweather', serif;
    font-variant: small-caps;
    text-transform: lowercase;
    text-rendering: auto;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px; }
  .header .description {
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    margin-top: -0.3em; }

.header-wrap h3, h3.bar {
  font-style: normal;
  background: url(../img/texture_bg.png) repeat #2e9891;
  display: inline-block;
  padding: 5px 8px;
  color: #FFF;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0.8em; }
  .header-wrap h3:after, h3.bar:after {
    content: "";
    position: absolute;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #2e9891 transparent;
    display: block;
    width: 0; }

h3.bar {
  margin-top: 0;
  margin-bottom: 1.5rem; }

.nav-wrap ul {
  text-align: center;
  list-style: none outside;
  margin: 0 1.4em 1.4em 0em; }
  .nav-wrap ul li {
    display: inline-block; }
    .nav-wrap ul li a {
      font-size: 16px;
      text-decoration: none;
      font-weight: 600;
      text-transform: capitalize;
      padding: 8px 15px 7px 15px;
      display: block; }
      .nav-wrap ul li a span.icon-wrap {
        border-radius: 1000px;
        -moz-border-radius: 1000px;
        -webkit-border-radius: 1000px;
        -o-border-radius: 1000px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
        background: #333;
        height: 27px;
        width: 27px !important;
        display: block !important;
        margin: 0 auto 5px auto; }
        .nav-wrap ul li a span.icon-wrap i {
          position: relative;
          top: 3px;
          left: 0px;
          text-shadow: none;
          font-size: 14px; }
    .nav-wrap ul li a:hover {
      color: #2e9891; }

.nav-wrap ul.home li.home, .nav-wrap li:hover {
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: url(../img/texture_bg.png) repeat #3c3837; }
  .nav-wrap ul.home li.home a, .nav-wrap li:hover a {
    color: #2e9891; }
    .nav-wrap ul.home li.home a i, .nav-wrap li:hover a i {
      color: #ffffff; }

.nav-wrap ul.skills li.skills, .nav-wrap li:hover {
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: url(../img/texture_bg.png) repeat #3c3837; }
  .nav-wrap ul.skills li.skills a, .nav-wrap li:hover a {
    color: #2e9891; }
    .nav-wrap ul.skills li.skills a i, .nav-wrap li:hover a i {
      color: #ffffff; }

.nav-wrap ul.projects li.projects, .nav-wrap li:hover {
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: url(../img/texture_bg.png) repeat #3c3837; }
  .nav-wrap ul.projects li.projects a, .nav-wrap li:hover a {
    color: #2e9891; }
    .nav-wrap ul.projects li.projects a i, .nav-wrap li:hover a i {
      color: #ffffff; }

.nav-wrap ul.contact li.contact, .nav-wrap li:hover {
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background: url(../img/texture_bg.png) repeat #3c3837; }
  .nav-wrap ul.contact li.contact a, .nav-wrap li:hover a {
    color: #2e9891; }
    .nav-wrap ul.contact li.contact a i, .nav-wrap li:hover a i {
      color: #ffffff; }

.social-icons {
  padding: 5px 0 15px 0; }
  .social-icons ul {
    margin: 0;
    padding: 0 0 0 10px; }
    .social-icons ul li {
      font-size: 24px;
      display: inline-block;
      margin: 0;
      padding: 0 0.1rem; }
      .social-icons ul li a {
        display: block;
        color: #828080;
        text-shadow: none; }

/* page footer */
footer {
  margin: 1em 0 0 0;
  background: url(../img/texture_bg.png) repeat #1c1c1c;
  padding: 10px;
  clear: both; }
  footer .nav {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3.5em; }
    footer .nav a {
      padding: 0 0.5em;
      font-size: 1.2em;
      text-decoration: none; }
  footer .about {
    border-top: 1px dashed #d2d2d2;
    padding: 2.2em 3em;
    font-size: 0.7em;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    -ms-column-gap: 2em;
    column-gap: 2em; }
  footer div.footer-wrap section.copy {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
    color: #8e8e8e; }
    footer div.footer-wrap section.copy a {
      color: #8e8e8e; }
    footer div.footer-wrap section.copy p {
      margin: 0;
      text-align: left;
      color: #fff;
      font-size: 14px; }

.clearfix {
  zoom: 1; }
  .clearfix :before, .clearfix :after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  .clearfix :after {
    clear: both; }

.row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

body.article-detail > header h1 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 400;
  margin-bottom: -0.2em; }

body.article-detail > header {
  margin-bottom: 3em; }

/* content */
#content {
  width: 700px;
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

.article {
  /*margin: 3em 0 4em;*/ }

.article header h2 {
  font-style: italic;
  text-align: center;
  font-weight: 400;
  margin: 0.8em 0;
  font-size: 1.4em; }
  .article header h2 a {
    text-decoration: none; }

.article header .date {
  text-align: center;
  font-size: 0.8em;
  margin-top: -0.7em; }
  .article header .date span {
    background-color: #f8f8f8;
    padding: 0 0.7em; }

.article.intro .content p {
  display: inline; }

.article.intro .content .more {
  text-decoration: underline;
  font-weight: 700;
  padding-left: 0.3em; }

.article .content img {
  display: block;
  width: 100%; }

.more, .date {
  font-family: 'Merriweather', serif;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px; }

/* code styling */
code {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.85em;
  color: #000; }

pre code {
  display: block;
  line-height: 1.1; }

p code {
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.3em;
  position: relative;
  background: #fffff3;
  white-space: nowrap; }

/* syntax hl stuff */
code.lang-markdown {
  color: #424242; }

code.lang-markdown .header,
code.lang-markdown .strong {
  font-weight: bold; }

code.lang-markdown .emphasis {
  font-style: italic; }

code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
  color: #555; }

code.lang-markdown .blockquote,
code.lang-markdown .bullet {
  color: #bbb; }

.pills p {
  border-radius: 25px;
  padding: 3px;
  background: #666362 url(../img/texture_bg.png) repeat;
  margin-bottom: 12px;
  color: #e8e8e8; }
  .pills p i {
    width: 25px;
    font-size: 16px;
    display: inline-block;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
    background: #3c3837;
    border-radius: 100%;
    color: #2e9891; }

.intro p {
  padding: 15px 10px;
  display: table;
  font-size: 20px;
  margin-bottom: 7px;
  background: #262524;
  font-weight: 600;
  line-height: normal; }
  .intro p.font48 {
    font-size: 48px; }
  .intro p.font24 {
    font-size: 24px; }
  .intro p span {
    color: #2e9891; }

.bracket h3 {
  margin-top: 0;
  margin-left: 20px; }

.bracket p {
  margin-left: 20px; }

.bracket .brace {
  font-weight: 300;
  font-size: 45px;
  color: #292929;
  float: left;
  margin-top: 5px; }

.bracket span {
  color: #8d8d8d;
  font-size: 14px;
  display: block; }

.projects h3 {
  margin-top: 0; }
  .projects h3 a {
    color: #2e9891;
    text-decoration: none; }
  .projects h3 span {
    font-size: 0.8em;
    padding-left: 10px; }

/* media queries */
@media (max-width: 960px) {
  .outer-wrap {
    width: 690px; }
  #content {
    width: 430px; }
  .content-wrap {
    flex-direction: column; }
    .content-wrap .intro, .content-wrap .skills, .content-wrap .experience {
      width: 100%; } }

@media (max-width: 690px) {
  body {
    margin: 0px 10px; }
  .outer-wrap, .header, #content {
    width: 100%; }
  .header {
    width: 100%;
    margin: 65px 0 0 0; }
  .header-wrap {
    padding: 10px; }
  section.about {
    text-align: center; }
  .nav-wrap {
    border: none;
    position: absolute;
    top: 0px;
    width: 100%; }
  #content {
    margin: 0; }
  .content-wrap {
    flex-direction: column;
    border-left: none; }
    .content-wrap .intro, .content-wrap .skills, .content-wrap .experience {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */