.social-icons {
    padding: 5px 0 15px 0;
        
    ul {
        margin: 0;
        padding: 0 0 0 10px;
        
        li {
            font-size: 24px;
            display: inline-block;
            margin: 0;
            padding: 0 0.1rem;
            
            a {
                display: block;
                color: #828080;
                text-shadow: none;
            }
        }
    }
}