extends layout

block nav
  -var nav = 'home';

block content
    div.intro
        p.font48 Hello
        p.font24 My Name is #[span Cory]
        p I am a #[span full stack software engineer]
        p I #[span learn quickly]
        p I love #[span building meaningful software]
        p I want to #[span leave things better than I found them]
        p I am a #[span technologist]
    div.contact
        h3.bar Contact Me Here
        div.pills
            p #[i.icon-phone](949) 385 - 3998
            p #[i.icon-home]
                a(href="mailto:cory@corywestropp.com") cory@corywestropp.com
            p #[i.icon-globe]Temecula, California