extends layout

block nav
  -var nav = 'home';

block content
    div.intro.columns
        p.font48 Hello
        p.font24 My Name is #[span Cory]
        p I am a #[span full stack software engineer]
        p I #[span learn quickly] and #[span enjoy tough problems]
        p I love #[span building meaningful software] that helps people
        p I want to #[span leave things better than I found them]
        p I am a #[span technologist] and generally #[span curious] person
    div.contact.columns
        h3.bar Contact Me Here
        div.pills
            p #[i.icon-phone](949) 385 - 3998
            p #[i.icon-home]
                a(href="mailto:cory@corywestropp.com") cory@corywestropp.com
            p #[i.icon-globe]Orange County, California
        h3.bar A little about me
        div
            p I've been interested in all things hardware and software my entire life. I believe that software should exist to improve the life experience for humans. I enjoy writing software that does just that; while ensuring that it is readable to my fellow humans, and won't need to be fixed everyday (usually by me).
            p I am an inherently curious person with an analytical mind, that usually means I can picking thing up quickly and don't need a lot of direction. This has enabled me to accumulate a large base of knowledge across the software stack. Which is an important prerequisite for an effective and efficient full stack developer.