doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = 'Cory Westropp'
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,300')
      link(rel='stylesheet', href='styles/normalize.css')
      link(rel='stylesheet', href='styles/main.css')
      link(rel='stylesheet', href='styles/font-awesome.css')
  body
    div.container
        div.outer-wrap
            div.dark-bg
                div.fake-bg
                div.color-bg
                    header.header
                        div.header-wrap
                            div.logo
                                a(href=locals.url)
                                    img(src="img/logo.png")
                            section.about
                                include:md about.md
                    div#content
                        block nav
                            -var nav = 'home'; //default
                        div.nav-wrap
                            ul(class="#{nav}")
                                li.home
                                    a(href="index.html")
                                        span.icon-wrap
                                            i.icon-home
                                        span Home
                                li.skills
                                    a(href="skills.html")
                                        span.icon-wrap
                                            i.icon-user
                                        span Skills
                                li.projects
                                    a(href="projects.html")
                                        span.icon-wrap
                                            i.icon-briefcase
                                        span Projects
                        div.content-wrap
                            block content
                    footer
                        div.footer-wrap                        
                            section.copy
                                p Copyright &copy; #{ new Date().getFullYear() } Cory Westropp
                    div.clearfix
