extends layout

block nav
  -var nav = 'projects';

block content
    div.projects
        h3.bar Current Projects
        ul
            li
                a(href="https://github.com/coryrwest/B2.NET") B2.NET
                span  - A C# library for interacting with Backblaze's B2 storage service. (C#, .NET)
        
        h3.bar Past Projects
        ul
            li
                a(href="https://github.com/coryrwest/realtaxcalc") RealTaxCalc
                span  - A offline-first mobile ready tax calculator. (ReactJS, Sass, webpack)
            li
                a(href="https://github.com/coryrwest/DevBlog") DevBlog
                span  - My development blog. Built with the wintersmith static site generator.
            li
                a(href="https://github.com/coryrwest/urly-twirly") Urly Twirly
                span  - A file based url shortener that does not require a database. (Python, Flask)
            li
                a(href="https://github.com/coryrwest/deadmanswitch") deadmanswitch
                span  - A simple dead man's swtich built serverless on AWS. (Python, AWS API Gateway, AWS Lambda, AWS dynamo)
            li
                a(href="https://github.com/coryrwest/CHABS") CHABS
                span  - A personal budget tracker similar to Mint.com. (C#, .NET, MVC)
            li
                a(href="https://github.com/coryrwest/TwitterNotification") TwitterNotification
                span  - Simple app to email me recent tweets from certain people I follow.
            li
                a(href="https://github.com/coryrwest/remindme") RemindMe
                span  - Simple reminder app for getting me up from my desk sometimes.
            li
                a(href="https://github.com/coryrwest/CouchDBReplicator") CouchDbReplicator
                span  - Simple NodeJS app for replicating or backing up a CouchDb instance using its REST API.