extends layout

block nav
  -var nav = 'skills';

block content
    div.skills.columns
        h3.bar My Skills
        p Ranked per category in order of experience
        div
            p General
                ul
                    li Software and API Design
                    li Information Technology
                    li Web Design
                    li Graphic Design
                    li Network Engineering
            p Dev Ops
                ul
                    li Git (GitHub, BitBucket)
                    li Docker
                    li LXC
                    li CI/CD pipelines (Jenkins, TeamCity, BitBucket Pipelines)
            p PaaS
                ul
                    li Azure
                    li GCP
                    li AWS
            p Web
                ul
                    li Javascript
                    li VueJS
                    li jQuery
                    li ReactJS
                    li AngularJS
            p Server
                ul
                    li C# and .NET Core
                    li MS SQL Server / Postgres
                    li Python
                    li Windows Server
                    li Linux Administration
                    li MySQL
                    li Java
        h3.bar My Background
        p I have always loved building things. 
            | When I was a kid, build and create were my two favorite words. 
            | I have loved computers and what they can do for as long as I can remeber. 
            | I have been surrounded by computers for just as long. It only seemed the next 
            | logical step to use my knowledge about computers to build things. I believe 
            | that software exists to help people. It is supposed to make life easier, 
            | save time, help us keep our sanity. In a world of ever increasing complexity 
            | and busy-ness I strive to create things that help people live better, easier lives.
    div.experience.columns
        h3.bar My Experience
        div.bracket
            div.brace {
            h3 Senior Software Engineer
                span Bombora, Inc. From (2020-2023)
            p Responsible for mentoring junior engineers as they develop Bombora's client facing applications
            p Lead architect and developer on a new customer frontend application with a focus on performance, security, accessibility, and usability
            p Languages: Vue.js 路 Authentication Systems 路 Web Content Accessibility Guidelines (WCAG) 路 C# 路 SQL
            p Technologies: ASP.NET Core MVC/WebAPI, SQL Server/Postgres, VueJS, GCP

        div.bracket
            div.brace {
            h3 Senior Software Engineer
                span AVI, Inc. From (2019-2020)
            p Architected and built a couple of Inventory Management Systems, Improved a route planning application, 
                | Developed a back office management system for meal delivery companies.
            p Languages: HTML/CSS, C#, SQL, Javascript
            p Technologies: ASP.NET WebForms/MVC/WebAPI, SQL Server, jQuery, ReactJS, NodeJS, VueJS, Azure

        div.bracket
            div.brace {
            h3 Software Engineer
                span ASM, Inc. From (2013-2019)
            p Maintained and improved several enterprise web applications in th Healthcare space.
            p Languages: HTML/CSS, C#, SQL, Javascript
            p Technologies: ASP.NET WebForms/MVC/WebAPI, SQL Server, AngularJS, ReactJS, NodeJS, Azure
                
        div.bracket
            div.brace {
            h3 Web Designer/Developer
                span Westropp Studios. From (2009-2015)
            p Owner of Westropp Studios. Built custom website and apps for SMBs in southern California using many different platforms and languages.
            p Languages: HTML/CSS, PHP, ASP, JavaScript/AJAX
            p Technologies: WordPress, BigCommerce, Drupal, jQuery

        div.bracket
            div.brace {
            h3 Owner
                span Westropp Technologies. From (2008-2012)
            p Owner of Westropp Technologies, a computer repair company based in Orange County. I did everything under the sun provisioning and maintaining computers and networks.
                | I built them, fixed them, upgraded them, taught people to use them. 
                | It was also my first experiecnce in successfully starting and maintaining a business.
            p I learned a lot about business administration, customer service, and interacting with people in a friendly and diplomatic manner.

