extends layout

block nav
  -var nav = 'skills';

block content
    div.skills
        h3.bar My Skills
        p Ranked per category in order of experience
        div
            p General
                ul
                    li Web Design
                    li Information Technology
                    li Software Design
                    li Graphic Design
                    li Network Engineering
            p Dev Ops
                ul
                    li Git
                    li LXC
                    li Docker
            p Web
                ul
                    li Javascript
                    li jQuery
                    li AngularJS
                    li ReactJS
            p Server
                ul
                    li C# and .NET
                    li SQL Server
                    li Windows Server
                    li Linux Administration
                    li Python
                    li Postgresql
                    li MySQL
                    li CouchDB
                    li C++
        h3.bar My Background
        p I have always loved building things. 
            | When I was a kid, build and create were my two favorite words. 
            | I have loved computers and what they can do for as long as I can remeber. 
            | I have been surrounded by computers for just as long. It only seemed the next 
            | logical step to use my knowledge about computers to build things. I believe 
            | that software exists to help people. It is supposed to make life easier, 
            | save time, help us keep our sanity. In a world of ever increasing complexity 
            | and busyness I strive to create things that help people live better lives.
    div.experience
        h3.bar My Experience
        div.bracket
            div.brace {
            h3 Software Engineer
                span ASM, Inc. From (2013-Present)
            p Maintain and improve several ASP.NET applications.
            p Languages: HTML/CSS, C#, SQL, Javascript
            p Technologies: ASP.NET, SQL Server, AngularJS, ReactJS, NodeJS
                
        div.bracket
            div.brace {
            h3 Web Designer/Developer
                span Westropp Studios. From (2009-2015)
            p Owner/Founder of Westropp Studios. Built custom website and apps for SMBs in southern California using many different platforms and languages.
            p Languages: HTML/CSS, PHP, ASP, JavaScript/AJAX
            p Technologies: WordPress, BigCommerce, Drupal, jQuery

        div.bracket
            div.brace {
            h3 Owner/Founder
                span Westropp Technologies. From (2008-2012)
            p Owner/Founder of Westropp Technologies, a computer repair company based in Orange County. I did everything under the sun pertaining to computers. I built them, fixed them, upgraded them, taught people to use them. 
                | It was also my first experiecnce in successfully starting and maintaining a business.
            p I learned a lot about business and interacting with people in a curteous and friendly manner.

